<%= render partial: 'spree/admin/shared/order_tabs', locals: { current: :return_authorizations } %>

<% content_for :page_title do %>
<<<<<<< HEAD
  / <%= Spree.t(:new_return_authorization) %>
=======
  <span class="glyphicon glyphicon-arrow-right"></span> <%= Spree.t(:new_return_authorization) %>
>>>>>>> Backend on Bootstrap
<% end %>

<%= render partial: 'spree/admin/shared/error_messages', locals: { target: @return_authorization } %>
<%= form_for [:admin, @order, @return_authorization] do |f| %>
  <fieldset>
<<<<<<< HEAD
    <%= render partial: 'form', locals: { f: f } %>

    <div class="form-actions" data-hook="buttons">
      <%= button Spree.t(:create), 'save' %>
=======
    <%= render :partial => 'form', :locals => { :f => f } %>

    <div class="form-buttons" data-hook="buttons">
      <%= button Spree.t(:create), 'arrow-right' %>
>>>>>>> Backend on Bootstrap
      <span class="or"><%= Spree.t(:or) %></span>
      <%= button_link_to Spree.t('actions.cancel'), spree.admin_order_return_authorizations_url(@order), icon: 'delete' %>
    </div>
  </fieldset>
<% end %>
