<% if adjustments.eligible.exists? %>
<<<<<<< HEAD
  <div class="panel panel-default">
    <div class="panel-heading">
      <h1 class="panel-title">
        <%= title %>
      </h1>
    </div>
    
    <table class="table table-bordered">
=======
  <fieldset>
    <legend><%= title %></legend>
    <table class="table table-hover table-condensed table-bordered">
>>>>>>> Backend on Bootstrap
      <thead>
        <th><%= Spree.t('name')%></th>
        <th><%= Spree.t('amount')%></th>
      </thead>
      <tbody id="order-charges" data-hook="order_details_adjustments">
        <% adjustments.eligible.group_by(&:label).each do |label, adjustments| %>
          <tr class="total">
<<<<<<< HEAD
            <td>
              <strong><%= label %>:</strong>
            </td>
            <td class="total">
              <span>
                <%= Spree::Money.new(
                  adjustments.sum(&:amount), 
                  currency: adjustments.first.order.try(:currency)
                ) %>
              </span>
            </td>
=======
            <td><strong><%= label %>:</strong></td>
            <td class="total "><span><%= Spree::Money.new(adjustments.sum(&:amount), currency: adjustments.first.order.try(:currency)) %></span></td>
>>>>>>> Backend on Bootstrap
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
