<% if can? :admin, Spree::Order %>
  <ul class="nav nav-sidebar">
    <%= tab *Spree::BackendConfiguration::ORDER_TABS, icon: 'shopping-cart' %>
  </ul>
<% end %>

<% if can? :admin, Spree::Product %>
<<<<<<< HEAD

  <li class="treeview">
    <a href="#">
      <span class="icon icon-th-large"></span>
      <span><%= Spree.t(:products) %></span>
      <span class="icon icon-chevron-left pull-right"></span>
    </a>
    <%= render :partial => 'spree/admin/shared/product_sub_menu' %>
  </li>

=======
  <ul class="nav nav-sidebar">
    <%= main_menu_tree Spree.t(:products), icon: "th-large", sub_menu: "product", url: "#sidebar-product" %>
  </ul>
>>>>>>> Bootstrap initial refactor
<% end %>

<% if can? :admin, Spree::Admin::ReportsController %>
  <ul class="nav nav-sidebar">
    <%= tab *Spree::BackendConfiguration::REPORT_TABS, icon: 'file'  %>
  </ul>
<% end %>

<li class="treeview">
  <a href="#">
    <span class="icon icon-wrench"></span>
    <span><%= Spree.t(:configurations) %></span>
    <span class="icon icon-chevron-left pull-right"></span>
  </a>
  <%= render :partial => 'spree/admin/shared/configuration_sub_menu' %>
</li>

<% if can? :admin, Spree::Promotion %>
<<<<<<< HEAD
  <li class="treeview">
    <a href="#">
      <span class="icon icon-bullhorn"></span>
      <span><%= Spree.t(:promotions) %></span>
      <span class="icon icon-chevron-left pull-right"></span>
    </a>
    <%= render :partial => 'spree/admin/shared/promotion_sub_menu' %>
  </li>
=======
  <ul class="nav nav-sidebar">
    <%= main_menu_tree Spree.t(:promotions), icon: "gift", sub_menu: "promotion", url: "#sidebar-promotions" %>
  </ul>
>>>>>>> Bootstrap initial refactor
<% end %>

<% if Spree.user_class && can?(:admin, Spree.user_class) %>
  <ul class="nav nav-sidebar">
    <%= tab *Spree::BackendConfiguration::USER_TABS, url: spree.admin_users_path, icon: 'user' %>
  </ul>
<% end %>
<<<<<<< HEAD
=======

<% if can? :admin, current_store %>
  <ul class="nav nav-sidebar">
    <%= main_menu_tree Spree.t(:configurations), icon: "wrench", sub_menu: "configuration", url: "#sidebar-configuration" %>
  </ul>
<% end %>
>>>>>>> Bootstrap initial refactor
